h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
}
p {
  display: flex;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  /* padding: 2rem; */
  justify-content: center;
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
}

.container {
  display: flex;
  justify-content: space-between;
  text-decoration: dashed;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem;
}

.ProfileCardContainer {
  align-items: center;
  padding: 2% 5%;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
