h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
}



.ProfileCardContainer {
  align-items: center;
  padding: 2% 5%;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
}

