.recipeContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 3em;
  flex-wrap: wrap;
  align-items: stretch;
  /* padding: 2rem; */
}

.headline {
  text-align: center;
  color: #e8751a;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.welcomeMessage {
  text-align: center;
  color: #333333;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin: 0 auto;
  max-width: 800px;
  font-size: 1rem;
}

.content-margin {
  margin: 105px;
  margin-top: 20px;
}

.subtitle {
  color: #333333;
}

.logo-icon {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  object-fit: contain;
}


.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; 

 }
 
 .searchBar input {
  height: 30px;
  width: 80%; 
  padding: 10px 30px;
  border: 2px solid #ccc;
  border-radius: 30px; 
  background-color: white;
  outline: none;
 }
 
 .searchBar input::placeholder {
  color: #999;
 }
 

 .searchBar input:focus {
  border-color: #e8751a; 
 }
