.recipeContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 3em;
  flex-wrap: wrap;
  align-items: stretch;
  /* padding: 2rem; */
}

.headline {
  text-align: center;
  color: #e8751a;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.welcomeMessage {
  text-align: center;
  color: #333333;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin: 0 auto;
  max-width: 800px;
  font-size: 1rem;
}

.content-margin {
  margin: 105px;
 }

 .subtitle {
  color: #333333;

 }