/* ProfileCard.css */
.ProfileCard {
  width: 18rem;
  margin: 20px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10% auto;
}

.card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10% auto;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-text {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-link {
  color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10% auto;
}

.list-group-flush {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10% auto;
}
